<p id="notice"><%= notice %></p>

<p>
  <b>Dni:</b>
  <%= @cliente.dni %>
</p>

<p>
  <b>Password:</b>
  <%= @cliente.password %>
</p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Edad:</b>
  <%= @cliente.edad %>
</p>

<p>
  <b>Movil:</b>
  <%= @cliente.movil %>
</p>

<p>
  <b>Direccion:</b>
  <%= @cliente.direccion %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
